{% extends "layout.html" %}

{% block content %}
    <table class="table align-middle">
        <tr>
        <th>Id</td>
        <th>Episódio</td>
        <th>Nome</td>
        <th>Data de lançamento</td>
        </tr>

    {% for ep in episode %}

        <tr>
        <td><a href="/episode/{{ep.id}}" class="btn btn-outline-dark"">{{ep.id}}</a></td>
        <td>{{ ep.episode }}</td>
        <td>{{ep.name}}</td>
        <td>{{ep.air_date}}</td>
        </tr>
        
    {% endfor %}
</table>
  
{% endblock %}